.contactPage {
  display: flex;
  flex-direction: column;
  margin-top: 70px;
}

.inner-contactPage {
  height: 45vh;
  width: 100%;
}

.contactPage-upper {
  background: linear-gradient(
    to top,
    rgba(59, 113, 202, 0) 0%,
    rgba(59, 113, 202, 1) 100%
  );
  background-color: #8ab4ff;

}

.contactPage-lower {
  display: flex;
  justify-content: center;
  background-color: whitesmoke;
}

.form-container {
  background-color: rgb(255, 255, 255);
  width: 80%;
  height: 70vh;
  margin-top: -250px;
  padding: 10px;
  border-radius: 24px;
  display: flex;
  gap: 40px;
}

.form-container-info {
  background-color: #3b71ca;
  color: white;
  border-radius: 16px;
  width: 500px;
  padding: 20px;
}

.contact-info-div {
  display: flex;
  margin: 20px 0;
  padding: 0;
  align-items: center;
}

.contact-info-div span {
  margin-left: 10px;
}

.form-container-form {
  border-radius: 16px;
  width: 100%;
  padding: 45px 20px;
}

.form-name-email {
  display: flex;
  gap: 20px;
}

.form-field {
  display: flex;
  flex-direction: column;
}

.form-field input {
  width: 100%;
  margin-right: 20vw;
  border: none;
  box-shadow: none;
  outline: none;
  border-bottom: 2px solid #3b71ca;
  margin-bottom: 20px;
}

.form-container-form textarea{
  resize: none;
  border: none;
  box-shadow: none;
  outline: none;
  border-bottom: 2px solid #3b71ca;
  margin-bottom: 20px;
}

.form-container-form button{
  border-radius: 10px;
  padding: 10px;
  background-color: #3b71ca;
  color: white;
  border: none;
}


/* responsive */

@media screen and (min-width:768px) and (max-width:903px) {

  .form-container{
    gap: 20px;
  }
  
}

@media screen and (max-width:737px) {

  .contactPage-lower{
    height: fit-content;
  }

  .form-container{
    flex-direction: column;
    gap: 5px;
    height: fit-content;
    margin-bottom: 50px;
  }

  .form-container-info{
    width: 100%;
  }
  
}

@media screen and (max-width:474px) {
  .form-container{
    width: 90%;
  }

  .form-name-email{
    flex-direction: column;
    gap: 0;
  }
  
}