.wallet{
  min-width: 300px;
  max-width: 400px;
  border: 2px solid green;
  box-shadow: 0 0 5px rgb(52, 51, 51);
  padding: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: flex;
  flex-direction: column;
}

.wallet h4 {
  font-size: 1.4em;
  font-weight: 900;
  margin-bottom: 10px;
}

.wallet img{
  width: 100%;
  height: 100%;
}

.wallet input{
  margin: 10px 0;
  padding: 5px;
  border-radius: 5px;
  outline: none;
  width: 100%;
  border: 2px solid black;
  margin-bottom: 20px;
}

.wallet button {
  width: 100%;
  background-color: green;
  color: whitesmoke;
  border-radius: 8px;
  margin-bottom: 8px;
  padding: 5px;
  border: none;
  border-radius: 8px;
}

.wallet p{
  color: red;
}