.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #3b71ca;
  color: whitesmoke;
  height: 10vh;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
}

.nav-logo span {
  font-size: 20px;
  font-weight: 500;
}

.nav-links ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 550px;
  padding: 2%;
}

.nav-links ul li a {
  text-decoration: none;
  color: inherit;
  font: bold;
  font-weight: 600;
}
