.footer {
  background-color: #3b71ca;
  color: white;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 15vh;
}

.footer p {
  margin: 0;
}

.footer-iconStyle {
  width: 100px;
  display: flex;
  justify-content: space-around;
}

.footer-iStyle {
  font-size: 30px;
}

@media screen and (max-width: 550px) {
  .footer {
    flex-direction: column;
    text-align: center;
  }

  .footer-iconStyle {
    align-items: left;
  }
}
