.blogpage{
    margin-top: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; 
    height: 90vh;
}
.message-show{
    display: block;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 5px;
    min-width: 300px;
        text-align: center;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.8);
}

.message-show p{
    font-size: 20px;
    font-weight: 600;
    color: #414040;
}